<%= form_with(url: sessions_path) do |form| %>
  <div>
    <%= form.label :login %>
    <%= form.text_field :login, require: true %>
  </div>

  <div>
    <%= form.label :password %>
    <%= form.password_field :password, require: true %>
  </div>

  <div>
    <%= form.submit 'Iniciar sesión' %>
  </div>
<% end %>
